img {width: 75%; height: auto; image-resolution: 100%; margin-left: 210px;; }

body { 
background-image: url(Images/potrait.webp);
background-repeat: no-repeat;
background-size: cover;}

h1 {font-family: 'courier new';
text-align: center;
font-size: 45px;
text-shadow: 2px 6px 8px rgb(216, 141, 49);}

h2 {font-family: courier;
text-align: center;
font-size: 35px;}

h3 {font-family: monospace;
font-size: 28px;
padding: 10px;
width: 1200px;
margin: auto;}

p {font-family: monospace;
font-size: 20px;
text-align: justify;
padding: 10px;
width: 1200px;
margin: auto;}

ol {font-family: monospace;
    font-size: 20px;
    text-align: justify;}

ul {font-family: monospace;
    font-size: 20px;
    text-align: justify;
width: 1100px;
margin:auto;
padding: 30px}

.Misi {
    width: 1100px;
    padding: 10px;
    margin: auto;}

ul.Fungsi {background: #b13696;
    padding: 20px;}
ul.Landarchief {background: #c53cef;
    padding: 20px;}
      
ul li {
    background: #d9a59e;
    color: rgb(93, 28, 13);
    padding: 5px;
    margin-left: 35px;}
      

#Daftar  {
        font-family: monospace;
        border-collapse: collapse;
        width: 1100px;
margin:auto;
padding: 30px;
      }
      
#Daftar td, #Daftar th {
        border: 3px solid #161616;
        padding: 8px; 
        font-size: 18px;
      }
      
#Daftar tr:nth-child(even){background-color: #d7eae5;}
      
#Daftar tr:nth-child(odd) {background-color: #c9f0e1;}
      
#Daftar th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #378b6c;
        color: rgb(6, 5, 5);
    text-align: center;}

    a:link, a:visited {
        background-color: rgb(225, 214, 207);
        color: black;
        border: rgb(21, 120, 95);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

#Contact td {font-family: monospace;
    font-size: 20px;
    width: 100px;
margin-left: 260;
padding: 10px}
     

a:hover, a:active {
        background-color: rgb(118, 83, 29);
        color: white;}
    
    a {font-family: monospace;
        font-size: 20px;
        padding: 10px;
        width: 180px;
        margin-left: 240px;}
